ul {
    text-decoration: none;
}

/*.card-img-top {
    height: 20rem !important;
}*/

@media (max-width: 750px) {

    h1 {
        font-size: 2.5em !important;
    }

    a,
    h3 {
        font-size: 1.2em !important;
    }
}